<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skywalkergonpwnya.ribbit.ribbit_app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.skywalkergonpwnya.ribbit.ribbit_app.RibbitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.skywalkergonpwnya.ribbit.ribbit_app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.skywalkergonpwnya.ribbit.ribbit_app.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skywalkergonpwnya.ribbit.ribbit_app.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="com.skywalkergonpwnya.ribbit.ribbit_app.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skywalkergonpwnya.ribbit.ribbit_app.EditFriendsActivity"
            android:parentActivityName="com.skywalkergonpwnya.ribbit.ribbit_app.MainActivity"
            android:label="@string/title_activity_edit_friends"
            android:screenOrientation="portrait" />
        <activity android:name="com.skywalkergonpwnya.ribbit.ribbit_app.ProfileActivity"
            android:parentActivityName="com.skywalkergonpwnya.ribbit.ribbit_app.MainActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>
